In [2]:
# 数据预处理
import os

os.makedirs(os.path.join('..', 'data'), exist_ok=True)  # 去上一级目录创建一个文件夹data
data_file = os.path.join('..', 'data', 'house_tiny.csv')  # 进入到data文件夹当中，创建一个csv文件
with open(data_file, 'w') as f:  # 里面写数据
    f.write('NumRooms,Alley,Price\n')
    f.write('NA,Pave,127500\n')
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,40000')

In [4]:
import pandas as pd

data = pd.read_csv(data_file)
data

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN   40000

In [11]:
inputs,outputs = data.iloc[:,0:2],data.iloc[:,2]
# 对[0,2) 列的NAN进行填充，填充的手法是取平均数。
inputs = inputs.fillna(inputs.mean())
#but 像Alley当中的字符串显然是没办法用这种方法进行处理的
print(inputs)

   NumRooms Alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

C:\Users\狒狒\AppData\Local\Temp\ipykernel_14032\1690562460.py:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  inputs = inputs.fillna(inputs.mean())

In [12]:
inputs = pd.get_dummies(inputs,dummy_na=True)
inputs
# 因为字符串不能用平均值进行填充，所以处理方法就是进行分类，然后用0,1进行填充
# 比如像第一行的 Alley_pave = 1 Alley_nan = 0 就说明这个NumRooms的Alley的值之前是Pave

   NumRooms  Alley_Pave  Alley_nan
0       3.0           1          0
1       2.0           0          1
2       4.0           0          1
3       3.0           0          1

In [13]:
import torch
X,y = torch.tensor(inputs.values),torch.tensor(outputs.values)
X,y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500, 106000, 178100,  40000]))